.classpath
.project
.gradle/
.settings/
bin/
repository/applet/*.*
repository/characters/*.*
repository/cache-other/*.*
repository/cache-tmp/*.*
repository/models/*.*
repository/item/*.*
repository/sprites/*.*
repository/maps/*.*
repository/xtea/tables/*.*
repository/types/*.*
repository/songs/track1/*.*
repository/songs/track2/*.*
scripts/tools/get-xteas/